<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="heroes-header">
  <template>
    <style>
      div.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--menu-color, lightblue);
        font-size: var(--text-size, 25px);
        font-weight: bold;
        color: var(--text-color, white);
        box-shadow: 2px 2px black;
      }

      div.header div.side {
        padding: 0px 10px;
      }
    </style>
    
    <div class="header">
      <div class="side left-side">
        <slot name="left"></slot>
      </div>
      <div class="side center-side">
        <slot name="center"></slot>
      </div>
      <div class="side right-side">
        <slot name="right"></slot>
      </div>
    </div>
  </template>

  <script>
    /**
     * `heroes-header`
     * Header for marvel wiki
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeroesHeader extends Polymer.Element {
      static get is() { return 'heroes-header'; }
      static get properties() { }
    }

    window.customElements.define(HeroesHeader.is, HeroesHeader);
  </script>
</dom-module>